.dailyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.dailyTitle {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
